{# <form method="post" action="{{ path('app_candidats_delete', {'id': candidat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.id) }}">
	<button class="btn">Delete</button>
</form> #}
<form method="post" action="{{ path('app_candidats_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.id) }}">
	<button class="btn btn-block btn-lg waves-effect waves-light">
		<i class="material-icons">&#xE872;</i>
		Delete my account</button>
</form>
